<!DOCTYPE html>
{% load static %}
<html lang='ko'>
    <head>
        <meta charset="UTF-8">
        <title>About CodeDiary18</title>
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
        <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'blog/navbar.html' %}
        <section>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>안녕하세요! CodeDiary18입니다~!</h1>
                        <h3>[Do it! 장고+부트스트랩 파이썬 웹 개발의 정석] 책을 보고 만들었습니다.</h3>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid" src="http://image.yes24.com/goods/96541859/800x0">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light margin-for-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>블로그를 만들면서 사용한 것</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" data-toggle="modal" data-target="#pycon2017">
                            <img class="card-img-top" src="https://askcompanyjpe.blob.core.windows.net/media/askdjango/course/2017/03/06/49/4984ad9285ad40828156f6c3f4981e2c.jpg" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">장고</h5>
                                <p>Django Framework</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4">
                        <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">파이썬</h5>
                                <p>Python</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4">
                        <div class="card" data-toggle="modal" data-target="#automation_python">
                            <img class="card-img-top" src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fp2rPl%2FbtqNOJ5PIwr%2FfgTXlBnMiYdK3AoUg3zsdK%2Fimg.png" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">html, css, js</h5>
                                <p>html과 css 그리고 javascript</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="fixed-bottom">
            {% include 'blog/footer.html' %}
        </div>
        <!--모달은 여기다 추가-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    </body>
</html>